{% extends "base.html" %}

{% block content %}
    <div class="container pt-6">
        <form id="search-bar">
            <div class="field is-grouped">
                <p class="control is-expanded">
                <input class="input" type="text" placeholder="Find a repository" id="search_input">
                </p>
                <p class="control">
                <button class="button is-danger" type="submit">Search</button>
                </p>
            </div>
        </form>
    </div>
    <div id="results"></div>
    <div id="static-result">
    {% for book in page_obj %}
    <div class="container">
        <div class="card mt-6">
            <div class="card-content">
                <div class="content">
                    <strong>Book Name:</strong> {{book.book_name}}
                </div>
                <div class="content">
                    <strong>Author:</strong> {{book.author.username}}
                </div>
                <div class="content">
                    <strong>Published At:</strong> {{book.publish_date.date}}
                </div>
                <footer class="card-footer">
                    <a href="summary/?id={{book.id}}" class="card-footer-item">View Book</a>
                </footer>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="container pt-6">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
    

    <script>
        $(document).ready(function () {
            $('#search-bar').on('submit', function (event) {
                event.preventDefault();
                $.ajax({
                url: 'search/',
                type: 'POST',
                headers: {'X-CSRFToken':'{{csrf_token}}'},
                data: {'search_query': $('#search_input').val(),},

                success : function(json) {
                    $('#search_input').val(''); // remove the value from the input
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                    //window.location('search/')
                    // location.href = "/search"
                    $('#results').html(json.data);
                    document.getElementById("static-result").style.display="none";
                },

                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
            })
        })
    </script>
{% endblock %}