{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="columns is-multiline">
  {% for book in books %}
  <div class="column is-one-quarter">
    <div class="card mt-6">
        <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{book.cover_book_photo}}" alt="Placeholder image">
            </figure>
          </div>
        <div class="card-content">
            <div class="content">
                <strong>Book Name:</strong> {{book.book_name}}
            </div>
            <div class="content">
                <strong>Author:</strong> {{book.author.username}}
            </div>
            <div class="content">
                <strong>Published At:</strong> {{book.publish_date.date}}
            </div>
        </div>
    </div>
</div>
  {% endfor %}
</div>
  <div class="container">
    <div class="control pt-6">
      <a class="button is-danger" href="addbook/">
        Add A Book
      </a>
    </div>
  </div>
</div>
<script>
  document.getElementById('mybooks').remove()
</script>
{% endblock %}
