{% extends "base.html" %}

{% block content %}
  {% for book in books %}
    <div class="container pt-6">
      <div class="card">
        <div class="card-content">
            <div class="content">
              <strong>Book Name:</strong> {{book.book_name}}
            </div>
            <div class="content">
              <strong>Author:</strong> {{book.author.username}}
            </div>
            <div class="content">
              <strong>Published At:</strong> {{book.publish_date.date}}
            </div>
            <footer class="card-footer">
              <a href="summary/?id={{book.id}}" class="card-footer-item">View Book</a>
            </footer>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="container">
    <div class="control pt-6">
      <a class="button is-danger" href="addbook/">
        Add A Book
      </a>
    </div>
  </div>
{% endblock %}
