{% extends 'base.html' %}
{% block content %}
  <body>
    <div class="container">
          <div class="columns is-centered mt-6">
            <img src="{{books.cover_book_photo}}" height="256" width="256">
          <div class="column">
                <p class="title">
                    {{books.book_name}}
                </p>
                <p class="subtitle">
                  {{books.author.username}}
                </p>
                <p text-align="justify">
                  {{books.summary}}
                </p>
              </div>
          </div class="mx-6">
            <a class="button is-danger" href="{% url 'full_content_page' slug=books.book_slug %}">View the whole story</a>
            </div>
            </div>
      </div>
  </body>
{% endblock %}
